.list_content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list_row {
  display: flex;
}
.list_media {
  flex-shrink: 0;
  padding: 1em 1em 1em 0;
}
.list_media img {
  max-width: 100%;
  vertical-align: middle;
}
.list_media .image {
  display: inline-block;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: 100%;
}
.list_main {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid var(--border-hex);
  padding: 1em 0;
}
.list_content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.list_content .list_title {
  margin: 0 0 6px;
  line-height: 1.2;
  font-size: 1.2em;
  color: var(--title-hex);
}
.list_content .list_title a {
  color: var(--title-hex);
}

.list_content .list_subtitle {
  margin: 0 0 6px;
  font-size: 1em;
  font-weight: 500;
  color: var(--subtitle-hex);
}

.list_content .list_subtitle a {
  color: var(--subtitle-hex);
}

.list_info {
  margin-top: 8px;
  font-size: 0.86em;
  color: var(--metadata-hex);
}
.list_info a {
  color: var(--metadata-hex);
}

.list_infoitem + .list_infoitem:before {
  content: '/';
  font-size: 10px;
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.2);
  font-family: var(--code-font), monospace;
}

.list_meta {
  flex-shrink: 0;
  margin-left: 1em;
}

.list_pagination > .pagination {
  text-align: right;
  padding: 1em 0;
}

.list_none {
  height: 200px;
}

@media (max-width: 680px) {
  .list_media {
    max-width: 25%;
  }
}
@media (max-width: 480px) {
  .list_media {
    max-width: 30%;
  }
  .list_meta {
    display: none;
  }
}
