:root {
  --blue-rgb: 17, 163, 231;
  --red-rgb: 226, 129, 149;
  --green-rgb: 115, 193, 149;
  --yellow-rgb: 255, 189, 68;
  --purple-rgb: 166, 134, 220;

  --primary-rgb: var(--blue-rgb);
  --using-rgb: 220, 220, 220;

  --sys-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  --en-sans: 'Helvetica Neue';
  --zh-sans: "PingFang SC","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei";
  --code-font: Menlo,Monaco,Consolas,"Courier New";

  --text-hex: #313132;
  --title-hex: #212122;
  --subtitle-hex: #686866;
  --metadata-hex: #969699;
  --border-hex: #efefef;

  --border-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  font: 16px/1.42 var(--sys-sans), var(--en-sans), var(--zh-sans), sans-serif;
}

.app_svgs {
  display: none;
}

.blue {
  --using-rgb: var(--blue-rgb);
}
.red {
  --using-rgb: var(--red-rgb);
}
.green {
  --using-rgb: var(--green-rgb);
}
.yellow {
  --using-rgb: var(--yellow-rgb);
}
.purple {
  --using-rgb: var(--purple-rgb);
}
