.app_side {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background: #fafafa;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.app_main {
  padding-left: 260px;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.app_head {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 2em;
  border-bottom: 1px solid var(--border-hex);
}

button.app_open {
  display: none;
  background: transparent;
  border: 0;
  padding: 0;
  margin-right: 0.6em;
  font-size: 1.4em;
  color: inherit;
  vertical-align: middle;
  outline: none;
}

.app_title > strong {
  font-size: 1.2em;
  font-weight: 900;
  vertical-align: middle;
}

.app_main .main {
  padding: 1em;
}

.section {
  padding: 1em;
  margin-bottom: 2em;
}
h1.section_title {
  font-size: 1.4em;
  margin: 0 0 0.8em;
  color: var(--title-hex);
  font-weight: 900;
}
p.section_summary {
  font-size: 1.2em;
  margin: -0.8em 0 1em;
  color: var(--subtitle-hex);
}

@media (max-width: 960px) {
  #app {
    overflow: hidden;
  }
  .app_main {
    padding-left: 0;
    background-color: #fff;
    transition: transform 0.2s ease;
    will-change: transform;
  }
  ._open .app_main {
    transform: translate3d(260px, 0, 0);
  }
  .app_head {
    background: #000;
    color: #f0f0f0;
  }
  button.app_open {
    display: inline-block;
  }
}
@media (max-width: 480px) {
  .app_main .main {
    padding: 0;
  }
  .app_head {
    padding: 1em;
  }
}
